force-app/main/default/flows/SFL_Clone_Multiples_with_Related_Records_From_ListView.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_cloneRealtedReferences</name>
        <label>ACT cloneRealtedReferences</label>
        <locationX>929</locationX>
        <locationY>752</locationY>
        <actionName>CloneMultipleRelatedRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ACT_cloneRelatedTouchpoints</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsCloned</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsQuery</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__returnedResult</typeName>
            <typeValue>Reference__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>S_2_Error_Exception_References</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordsCloned</name>
            <value>
                <elementReference>clonedApps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldAIPName</name>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsQuery</name>
            <value>
                <elementReference>updatedApps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Reference__C</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMessagesReferences</assignToReference>
            <name>errorMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>returnedReferences</assignToReference>
            <name>returnedResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_cloneRelatedTouchpoints</name>
        <label>ACT cloneRelatedTouchpoints</label>
        <locationX>927</locationX>
        <locationY>918</locationY>
        <actionName>CloneMultipleRelatedRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Cloned_Apps_var</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsCloned</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__recordsQuery</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__returnedResult</typeName>
            <typeValue>Touchpoint__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>S_3_Error_Exception_Touchpoints</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordsCloned</name>
            <value>
                <elementReference>clonedApps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lookupFieldAIPName</name>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordsQuery</name>
            <value>
                <elementReference>updatedApps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectName</name>
            <value>
                <stringValue>Touchpoint__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMessagesTouchpoints</assignToReference>
            <name>errorMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>returnedTouchpoints</assignToReference>
            <name>returnedResult</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_getAppsToClone</name>
        <label>ACT getAppsToClone</label>
        <locationX>527</locationX>
        <locationY>205</locationY>
        <actionName>DynamicQueryInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_selectedApplications_var</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__returnedQueriedRecords</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectAPIName</name>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMassages</assignToReference>
            <name>errorMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>selectedApplications</assignToReference>
            <name>returnedQueriedRecords</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ACT_returnedClonedApplications</name>
        <label>ACT returnedClonedApplications</label>
        <locationX>719</locationX>
        <locationY>374</locationY>
        <actionName>CloneMultipleParentRecordsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_ClonedRecordSize</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__recordsToClone</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__clonedsObjectRecords</typeName>
            <typeValue>Application__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>S_1_Error_Exception_Apps</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordsToClone</name>
            <value>
                <elementReference>updatedApps</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errorMassages</assignToReference>
            <name>errorMessages</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Ids_failedToClone</assignToReference>
            <name>errorRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>clonedApps</assignToReference>
            <name>clonedsObjectRecords</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_updatedApps_var</name>
        <label>Add to updatedApps var</label>
        <locationX>529</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>updatedApps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_selectedApplications_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selectedApplications_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The record has not been cloned yet though the updated value will be stored temporarily in a list variable and be cloned later.</description>
        <name>Assign_TemporaryValues</name>
        <label>Assign TemporaryValues</label>
        <locationX>347</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>Loop_selectedApplications_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_selectedApplications_var.UId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_selectedApplications_var.Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_updatedApps_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_DMLFailedRecord</name>
        <label>Remove DMLFailedRecord</label>
        <locationX>1399</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>updatedApps</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Loop_UpdatedApps_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UpdatedApps_var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ClonedRecordSize</name>
        <label>Check ClonedRecordSize</label>
        <locationX>712</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Loop_UpdatedApps_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>clonedRecordsExist</defaultConnectorLabel>
        <rules>
            <name>No_ClonedRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clonedApps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_2_No_Records_To_Clone</targetReference>
            </connector>
            <label>No_ClonedRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error_Occurred</name>
        <label>Check Error Occurred</label>
        <locationX>919</locationX>
        <locationY>1282</locationY>
        <defaultConnector>
            <targetReference>S_5_Finish_the_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isErrorMessagesNull</defaultConnectorLabel>
        <rules>
            <name>IsErrorMessagesNotNull</name>
            <conditionLogic>1 OR (2 AND NOT 4)  OR ( 3 AND NOT 5)</conditionLogic>
            <conditions>
                <leftValueReference>errorMassages</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>errorMessagesReferences</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>errorMessagesTouchpoints</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>errorMessagesReferences</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>There is no reference record to clone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessagesTouchpoints</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>There is no reference record to clone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_4_Display_Compiled_Errors</targetReference>
            </connector>
            <label>IsErrorMessagesNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>ids_failedToClone variable contains a failed to clone record Ids. If id from the updated apps list contains the id, remove it</description>
        <name>Check_For_Matching_Id</name>
        <label>Check For Matching Id</label>
        <locationX>1155</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Loop_UpdatedApps_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Matching ID Found</defaultConnectorLabel>
        <rules>
            <name>Found_Matching_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ids_failedToClone</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_UpdatedApps_var.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_DMLFailedRecord</targetReference>
            </connector>
            <label>Found Matching ID</label>
        </rules>
    </decisions>
    <formulas>
        <name>recordLink</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos;+{!Loop_Cloned_Apps_var.Id}</expression>
    </formulas>
    <interviewLabel>FL_Clone Multiples with Related Records From ListView {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_Clone Multiples with Related Records From ListView</label>
    <loops>
        <name>Loop_Cloned_Apps_var</name>
        <label>Loop Cloned Apps var</label>
        <locationX>927</locationX>
        <locationY>1071</locationY>
        <collectionReference>clonedApps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S_3_Successful_DML_Results</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Error_Occurred</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_selectedApplications_var</name>
        <label>Loop selectedApplications var</label>
        <locationX>528</locationX>
        <locationY>384</locationY>
        <collectionReference>selectedApplications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S_1_Update_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_returnedClonedApplications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_UpdatedApps_var</name>
        <label>Loop UpdatedApps var</label>
        <locationX>927</locationX>
        <locationY>551</locationY>
        <collectionReference>updatedApps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Matching_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ACT_cloneRealtedReferences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>S_1_Error_Exception_Apps</name>
        <label>S_1_Error Exception Apps</label>
        <locationX>887</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorsApp</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(10, 110, 255); font-size: 14px;&quot;&gt;You have selected more than 30 records at a time. Restart the process with less than 30 records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_1_Update_Values</name>
        <label>S_1_Update Values</label>
        <locationX>347</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_TemporaryValues</targetReference>
        </connector>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p&gt;Assign a new external id to the cloned app.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Old_UId</name>
            <fieldText>&lt;p&gt;Old UId: &lt;b&gt;{!Loop_selectedApplications_var.UId__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Application_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_selectedApplications_var.Name</elementReference>
            </defaultValue>
            <fieldText>Application Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UId</name>
            <dataType>Number</dataType>
            <fieldText>UId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Employer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Loop_selectedApplications_var.Employer__c</elementReference>
            </defaultValue>
            <fieldText>Employer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S_1_Update_Values_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_1_Update_Values_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hi2</name>
                    <fieldText>&lt;p&gt;hi&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S_1_Update_Values_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hi1</name>
                    <fieldText>&lt;p&gt;hi&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_2_Error_Exception_References</name>
        <label>S_2_Error Exception References</label>
        <locationX>1087</locationX>
        <locationY>751</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fin_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;Encountered error while cloning references&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 93, 23);&quot;&gt;{!errorMassages}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_2_No_Records_To_Clone</name>
        <label>S_2_No Records To Clone</label>
        <locationX>721</locationX>
        <locationY>787</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorsApps</name>
            <fieldText>&lt;p&gt;There is no record to perform cloning. Please review your process and try it again.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 110, 255);&quot;&gt;{!errorMassages}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_3_Error_Exception_Touchpoints</name>
        <label>S_3_Error Exception Touchpoints</label>
        <locationX>1085</locationX>
        <locationY>914</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fin_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;Encountered error while cloning touchpoints&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 93, 23);&quot;&gt;{!errorMassages}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_3_Successful_DML_Results</name>
        <label>S_3_Successful DML Results</label>
        <locationX>1239</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Cloned_Apps_var</targetReference>
        </connector>
        <fields>
            <name>Fin_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Successfully cloned the following record:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Application Name: {!Loop_Cloned_Apps_var.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!Loop_Cloned_Apps_var.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;Open the record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_4_Display_Compiled_Errors</name>
        <label>S_4_Display Compiled Errors</label>
        <locationX>1235</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayCompiledAppErrors</name>
            <fieldText>&lt;p&gt;Errors with below record(s):&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Review the UID of the following records and try to clone it again.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 30, 255); font-size: 16px;&quot;&gt;Applications Errors&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 30, 255); font-size: 16px;&quot;&gt;{!errorMassages}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayCompiledRefrerenceErrors</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 30, 255);&quot;&gt;References Errors:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 30, 255);&quot;&gt;{!errorMessagesReferences}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayCompiledTouchpointErrors</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 30, 255); font-size: 16px;&quot;&gt;Touchpoints Errors:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 30, 255); font-size: 16px;&quot;&gt;{!errorMessagesTouchpoints}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_5_Finish_the_Process</name>
        <label>S_5_Finish the Process</label>
        <locationX>927</locationX>
        <locationY>1495</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fin_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The process is finished. Return to the listview by clicking the Finish button below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ACT_getAppsToClone</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>appIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>clonedApps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>errorMassages</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessagesReferences</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errorMessagesTouchpoints</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ids_failedToClone</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>returnedReferences</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reference__c</objectType>
    </variables>
    <variables>
        <name>returnedTouchpoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Touchpoint__c</objectType>
    </variables>
    <variables>
        <name>selectedApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>updatedApps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
</Flow>
